.menu-container {
  background: rgba(95, 95, 60, 0.5);
}

.menu-container h1 {
  text-align: center;
  z-index: 2;
}

.menu-items {
  display: flex;
  width: 100%;
}

.menu-item {
  width: calc(100% / 3);
  height: 100%;
  margin: 0 0.5em;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.menu-image {
  height: 85vh;
}